<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Movie</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Add a New Movie</h1>
<form action="#" th:action="@{/movies}" th:object="${movie}" method="post">
    <p><b>Title:</b> <input type="text" th:field="*{title}" /></p>
    <p><b>Release Year:</b> <input type="number" th:field="*{releaseYear}" /></p>
    <p><b>Genre:</b> <input type="text" th:field="*{genre}" /></p>
    <p><b>Description:</b> <textarea th:field="*{description}"></textarea></p>
    <p><button type="submit">Submit</button></p>
</form>
<button type="submit"><a href="/movies">Palaa takaisin</a></button>
</body>
</html>