<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<h1>Tervetuloa Elokuvasovellus -sivuille!</h1>
<nav>
    <ul>
        <li><a th:href="@{/movies}">List Movies</a></li>
        <p> </p>
        <li><a th:href="@{/movies/add}">Add New Movie</a></li>
        <li><a th:href="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}">Kirjaudu ulos</a></li>
    </ul>
</nav>
</body>
</html>