<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

    <div sec:authorize="isAuthenticated()" class="auth-info">
        Kirjautunut nimellä: <b><span sec:authentication="name">Username</span></b>
        <form id="logoutForm" th:action="@{/logout}" method="post" class="logout-button">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="Logout" class="btn btn-warning1"/>
        </form>
    </div>

<h1 class="centered-title" style="font-size:45px;">Elokuvat lista</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Genre</th>
            <th>Description/Review</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}">Title</td>
            <td th:text="${movie.releaseYear}">Year</td>
            <td th:text="${movie.genre}">Genre</td>
            <td th:text="${movie.description}">Description</td>
            <td>
                <a th:href="@{/movies/edit/{id}(id=${movie.id})}">Edit</a>
                <a th:href="@{/movies/delete/{id}(id=${movie.id})}" onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<p> </p>
<nav>
    <a href="/movies/add" class="btn btn-primary">Lisää uusi elokuva tästä.</a>
    <a href="/home" class="btn btn-secondary">Takaisin pääsivulle.</a>
</nav>
</body>
</html>